.background{
	opacity:0.8;
	z-index: 1001;
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #FFF ;
	display: none;

}

.highlight{
	background-color: yellow;
}
.container{
	position: relative;
}

.red_colored{
	color: red;
}

.floated{
	position: relative;
	float: left;
	z-index: 1002;
	opacity: 1.0;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #FFF ;

}

#tweetsList{
	text-align: center;
}
